<table class="assets-history">
  <thead>
    <tr>
      <th>Date</th>
      <th>Deposit</th>
      <th>Value</th>
      <th>P&amp;L</th>
    </tr>
  </thead>
  <tbody>
    <tr class="total-row">
      <td>July 2020</td>
      <td class="value positive">+S$15,967</td>
      <td class="value">S$16,004</td>
      <td class="value positive">+S$37</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$11,967</td>
              <td class="value">S$11,967</td>
              <td class="value">S$0</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$4,000</td>
              <td class="value">S$4,037</td>
              <td class="value positive">S$37</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>August 2020</td>
      <td class="value positive">+S$1,000</td>
      <td class="value">S$17,031</td>
      <td class="value positive">+S$64</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value">S$0</td>
              <td class="value">S$11,872</td>
              <td class="value negative">-S$95</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$1,000</td>
              <td class="value">S$5,159</td>
              <td class="value positive">S$159</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>September 2020</td>
      <td class="value positive">+S$1,000</td>
      <td class="value">S$18,098</td>
      <td class="value positive">+S$131</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value">S$0</td>
              <td class="value">S$11,802</td>
              <td class="value negative">-S$165</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$1,000</td>
              <td class="value">S$6,296</td>
              <td class="value positive">S$296</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>October 2020</td>
      <td class="value positive">+S$1,500</td>
      <td class="value">S$19,630</td>
      <td class="value positive">+S$163</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$500</td>
              <td class="value">S$12,342</td>
              <td class="value negative">-S$125</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$1,000</td>
              <td class="value">S$7,288</td>
              <td class="value positive">S$288</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>November 2020</td>
      <td class="value positive">+S$4,000</td>
      <td class="value">S$23,689</td>
      <td class="value positive">+S$222</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$3,000</td>
              <td class="value">S$15,373</td>
              <td class="value negative">-S$94</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$1,000</td>
              <td class="value">S$8,316</td>
              <td class="value positive">S$316</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>December 2020</td>
      <td class="value positive">+S$3,000</td>
      <td class="value">S$26,569</td>
      <td class="value positive">+S$102</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value">S$0</td>
              <td class="value">S$15,250</td>
              <td class="value negative">-S$217</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$3,000</td>
              <td class="value">S$11,319</td>
              <td class="value positive">S$319</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>January 2021</td>
      <td class="value positive">+S$6,000</td>
      <td class="value">S$32,533</td>
      <td class="value positive">+S$66</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$5,000</td>
              <td class="value">S$20,158</td>
              <td class="value negative">-S$309</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$1,000</td>
              <td class="value">S$12,375</td>
              <td class="value positive">S$375</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>February 2021</td>
      <td class="value positive">+S$6,000</td>
      <td class="value">S$38,964</td>
      <td class="value positive">+S$497</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value">S$0</td>
              <td class="value">S$20,195</td>
              <td class="value negative">-S$272</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$6,000</td>
              <td class="value">S$18,769</td>
              <td class="value positive">S$769</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>March 2021</td>
      <td class="value positive">+S$7,000</td>
      <td class="value">S$45,848</td>
      <td class="value positive">+S$381</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$2,500</td>
              <td class="value">S$22,721</td>
              <td class="value negative">-S$247</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$4,500</td>
              <td class="value">S$23,127</td>
              <td class="value positive">S$627</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>April 2021</td>
      <td class="value positive">+S$5,379</td>
      <td class="value">S$51,493</td>
      <td class="value positive">+S$655</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$2,500</td>
              <td class="value">S$25,295</td>
              <td class="value negative">-S$172</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value positive">+S$2,879</td>
              <td class="value">S$3,071</td>
              <td class="value positive">S$200</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value">S$0</td>
              <td class="value">S$23,127</td>
              <td class="value positive">S$627</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>May 2021</td>
      <td class="value positive">+S$4,680</td>
      <td class="value">S$55,817</td>
      <td class="value positive">+S$1,125</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$1,500</td>
              <td class="value">S$26,731</td>
              <td class="value negative">-S$236</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value positive">+S$259</td>
              <td class="value">S$3,215</td>
              <td class="value positive">S$495</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$2,922</td>
              <td class="value">S$25,872</td>
              <td class="value positive">S$866</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>June 2021</td>
      <td class="value negative">-S$1,729</td>
      <td class="value">S$54,440</td>
      <td class="value positive">+S$1,117</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value negative">-S$6,500</td>
              <td class="value">S$20,168</td>
              <td class="value negative">-S$283</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value positive">+S$2,271</td>
              <td class="value">S$5,809</td>
              <td class="value positive">S$443</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$2,500</td>
              <td class="value">S$28,463</td>
              <td class="value positive">S$957</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>July 2021</td>
      <td class="value positive">+S$7,745</td>
      <td class="value">S$62,479</td>
      <td class="value positive">+S$1,806</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$984</td>
              <td class="value">S$21,240</td>
              <td class="value negative">-S$64</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value positive">+S$2,768</td>
              <td class="value">S$9,029</td>
              <td class="value positive">S$1,158</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$3,000</td>
              <td class="value">S$31,328</td>
              <td class="value positive">S$823</td>
            </tr>
            <tr>
              <td class="category">Crypto</td>
              <td class="value positive">+S$994</td>
              <td class="value">S$882</td>
              <td class="value negative">-S$111</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>August 2021</td>
      <td class="value positive">+S$7,613</td>
      <td class="value">S$68,948</td>
      <td class="value positive">+S$1,691</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$500</td>
              <td class="value">S$21,815</td>
              <td class="value positive">S$11</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value positive">+S$883</td>
              <td class="value">S$8,476</td>
              <td class="value positive">S$590</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$3,000</td>
              <td class="value">S$34,399</td>
              <td class="value positive">S$893</td>
            </tr>
            <tr>
              <td class="category">Crypto</td>
              <td class="value positive">+S$3,230</td>
              <td class="value">S$4,258</td>
              <td class="value positive">S$197</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>September 2021</td>
      <td class="value positive">+S$5,478</td>
      <td class="value">S$74,367</td>
      <td class="value positive">+S$1,644</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value negative">-S$500</td>
              <td class="value">S$21,299</td>
              <td class="value negative">-S$5</td>
            </tr>
            <tr>
              <td class="category">ETFs</td>
              <td class="value positive">+S$2,872</td>
              <td class="value">S$2,933</td>
              <td class="value positive">S$71</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value">S$0</td>
              <td class="value">S$8,113</td>
              <td class="value positive">S$228</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$3,000</td>
              <td class="value">S$36,873</td>
              <td class="value positive">S$368</td>
            </tr>
            <tr>
              <td class="category">Crypto</td>
              <td class="value positive">+S$106</td>
              <td class="value">S$5,149</td>
              <td class="value positive">S$982</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>October 2021</td>
      <td class="value positive">+S$2,696</td>
      <td class="value">S$75,059</td>
      <td class="value negative">-S$241</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value negative">-S$10,613</td>
              <td class="value">S$10,997</td>
              <td class="value positive">S$79</td>
            </tr>
            <tr>
              <td class="category">ETFs</td>
              <td class="value positive">+S$4,004</td>
              <td class="value">S$6,771</td>
              <td class="value negative">-S$89</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value">S$0</td>
              <td class="value">S$7,786</td>
              <td class="value negative">-S$93</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$3,014</td>
              <td class="value">S$39,287</td>
              <td class="value negative">-S$232</td>
            </tr>
            <tr>
              <td class="category">Crypto</td>
              <td class="value positive">+S$6,292</td>
              <td class="value">S$10,218</td>
              <td class="value positive">S$95</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>November 2021</td>
      <td class="value positive">+S$11,176</td>
      <td class="value">S$90,879</td>
      <td class="value positive">+S$4,627</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value positive">+S$7,747</td>
              <td class="value">S$18,928</td>
              <td class="value positive">S$264</td>
            </tr>
            <tr>
              <td class="category">ETFs</td>
              <td class="value">S$0</td>
              <td class="value">S$7,064</td>
              <td class="value positive">S$203</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value positive">+S$948</td>
              <td class="value">S$8,623</td>
              <td class="value negative">-S$45</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$3,000</td>
              <td class="value">S$43,299</td>
              <td class="value positive">S$780</td>
            </tr>
            <tr>
              <td class="category">Crypto</td>
              <td class="value negative">-S$519</td>
              <td class="value">S$12,966</td>
              <td class="value positive">S$3,425</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>December 2021</td>
      <td class="value positive">+S$7,619</td>
      <td class="value">S$99,502</td>
      <td class="value positive">+S$5,658</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value negative">-S$5,884</td>
              <td class="value">S$13,480</td>
              <td class="value positive">S$699</td>
            </tr>
            <tr>
              <td class="category">ETFs</td>
              <td class="value positive">+S$3,958</td>
              <td class="value">S$10,842</td>
              <td class="value positive">S$29</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value">S$0</td>
              <td class="value">S$7,980</td>
              <td class="value negative">-S$683</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$3,001</td>
              <td class="value">S$46,251</td>
              <td class="value positive">S$731</td>
            </tr>
            <tr>
              <td class="category">Crypto</td>
              <td class="value positive">+S$6,545</td>
              <td class="value">S$20,950</td>
              <td class="value positive">S$4,882</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>January 2022</td>
      <td class="value positive">+S$5,580</td>
      <td class="value">S$104,758</td>
      <td class="value positive">+S$5,338</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value negative">-S$500</td>
              <td class="value">S$13,029</td>
              <td class="value positive">S$748</td>
            </tr>
            <tr>
              <td class="category">ETFs</td>
              <td class="value">S$0</td>
              <td class="value">S$11,063</td>
              <td class="value positive">S$250</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value">S$0</td>
              <td class="value">S$7,669</td>
              <td class="value negative">-S$989</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$3,000</td>
              <td class="value">S$49,032</td>
              <td class="value positive">S$512</td>
            </tr>
            <tr>
              <td class="category">Crypto</td>
              <td class="value positive">+S$3,080</td>
              <td class="value">S$23,965</td>
              <td class="value positive">S$4,817</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="total-row">
      <td>February 2022</td>
      <td class="value positive">+S$9,549</td>
      <td class="value">S$101,852</td>
      <td class="value negative">-S$4,933</td>
    </tr>
    <tr class="categories">
      <td colspan="4">
        <table>
          <thead>
            <th>Category</th>
            <th>Deposit</th>
            <th>Value</th>
            <th>P&amp;L</th>
          </thead>
          <tbody>
            <tr>
              <td class="category">Cash-like</td>
              <td class="value negative">-S$632</td>
              <td class="value">S$12,628</td>
              <td class="value positive">S$980</td>
            </tr>
            <tr>
              <td class="category">ETFs</td>
              <td class="value positive">+S$1,989</td>
              <td class="value">S$12,361</td>
              <td class="value negative">-S$438</td>
            </tr>
            <tr>
              <td class="category">Stock picks</td>
              <td class="value">S$0</td>
              <td class="value">S$7,986</td>
              <td class="value negative">-S$672</td>
            </tr>
            <tr>
              <td class="category">Robo-Advisors</td>
              <td class="value positive">+S$3,000</td>
              <td class="value">S$50,546</td>
              <td class="value negative">-S$974</td>
            </tr>
            <tr>
              <td class="category">Crypto</td>
              <td class="value positive">+S$5,192</td>
              <td class="value">S$18,330</td>
              <td class="value negative">-S$3,829</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<script>
  (() => {
    const rows = document.querySelectorAll('.assets-history .total-row');
    rows.forEach((row) => {
      row.addEventListener('click', function (event) {
        // const currentVisibility = this.nextElementSibling.style.visibility;
        // const newVisibility =
        //   currentVisibility === 'visible' ? 'collapse' : 'visible';
        this.nextElementSibling.classList.toggle('visible');
      });
    });
  })();
</script>
